// Site
$color__body-bg: #F2F2F2;
$color__font-main: #F2F2F2;
$color__background-body: #FFFFFF;
$color__background-screen: #F1F1F1;
$color__link-hover: #BF0000;

// Navigation Links
$color__main-nav-link: #595959;
$color__main-nav-link-visited: #595959;
$color__main-nav-link-hover: #BF0000;
$color__main-nav-link-active: #BF0000;

// Social Media
$color__social-media: #595959;
$color__social-media-unfocus: #C6C6C6;

// Contact
$color__email-link: #F2F2F2;
$color__email-link-hover: #BF0000;

// Gigs
$color__gig-date-border: #595959;
$color__gig-date-border-active: #BF0000;

// Default Link Colors
$color__link: royalblue;
$color__link-visited: purple;

// Accessibility
$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;