@font-face {
  font-family: 'Coves';
  src: url('fonts/Coves.otf');
}

$font__main: 'Coves', sans-serif;
$font__line-height-body: 1.5;

$font__main-nav:'PT Sans Caption', sans-serif;

$font__email-link: 'Changa One', sans-serif;

$font__album-title: 'Changa One', sans-serif;