a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: 0;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

// Main Navigation
.main-navigation {
	.menu {
		li {
			position: relative;
			
			&::before {
				content: "";
				position: absolute;
				width: 100px;
				height: 3px;
				bottom: 0;
				left: 50%;
				margin-left: -50px;
				background-color: $color__main-nav-link-active;
				visibility: hidden;
				-webkit-transform: scaleX(0);
				transform: scaleX(0);
				-webkit-transition: all 0.3s ease-in-out 0s;
				transition: all 0.3s ease-in-out 0s;

				// Mobile styles
				@media screen and (max-width: 50em) {
					bottom: -20px;
					height: 7px;
					width: 70px;
					margin-left: -35px;
				}

				@media screen and (max-width: 25em) {
					width: 50px;
					margin-left: -25px;
				}
			}
		}

		.active {
			a {
				color: $color__main-nav-link-active;
			}

			&:before {
				 visibility: visible;
		 		 -webkit-transform: scaleX(1);
		 		 transform: scaleX(1);
	 		}
		}
	}

	a {
		font-family: $font__main-nav;
		@include font-size(1.5);
		text-decoration: none;
		color: $color__main-nav-link;
		transition: color .3s;
		position: relative;

		&:hover {
			color: $color__main-nav-link-hover;
		}

		// Mobile styles
		@media screen and (max-width: 50em) {
			@include font-size(1.2);
		}

		// Mobile styles
		@media screen and (max-width: 25em) {
			@include font-size(.9);
		}
	}
}

.contact {
	a {
		font-family: $font__email-link;
		text-decoration: none;
		color: $color__email-link;
		transition: color .3s;
		@include font-size(2.8);

		@media screen and (max-width: 73.75em) {
			@include font-size(2.3);
		}

		@media screen and (max-width: 61.25em) {
			@include font-size(2);
		}

		&:hover {
			color: $color__email-link-hover;
			transition: color .3s;
		}
	}

	.mobile-email {
		display: none;
		text-align: center;
	}

	@media screen and (max-width: 55.625em) {
				.email {
					display: none;
				}

				.mobile-email {
					display: block;
				}
		}
}